@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html {
    background-color: black;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.shadow-custom {
    text-shadow: 2px 2px 2px rgb(0 0 0 / var(--tw-text-opacity));
}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }
    .animation-delay-4000 {
        animation-delay: 4s;
    }

    .text-balance {
        text-wrap: balance;
    }

    .service-gradient-bg {
        background: linear-gradient(
            173deg,
            rgba(3, 3, 3, 1) 10.67%,
            rgba(20, 23, 28, 1) 61.79%
        );
    }

    .services-background {
        opacity: 0.9;
        background: linear-gradient(
            108deg,
            rgba(3, 3, 3, 0.8) 6.27%,
            rgba(35, 42, 52, 0.8) 93.58%
        );
        box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.25),
            0px 0px 2px 2px rgba(255, 255, 255, 0.1) inset;
        backdrop-filter: blur(60px);
    }

    .services-background-reversed {
        opacity: 0.9;
        background: linear-gradient(
            76deg,
            rgba(35, 42, 52, 0.8) 0.11%,
            rgba(3, 3, 3, 0.8) 96.48%
        );
        box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.25),
            0px 0px 2px 2px rgba(255, 255, 255, 0.1) inset;
        backdrop-filter: blur(60px);
    }

    .bg-custom-radial {
        background: radial-gradient(
            41.97% 92.57% at 114.1% -30.16%,
            #232a34 20%,
            #030303 200%
        );
    }

    .gradient-border {
        border-radius: 1rem;
        overflow: hidden;
    }

    .gradient-border::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 1rem;
        padding: 1px;
        background: linear-gradient(
            135deg,
            rgba(144, 144, 144, 1),
            rgba(255, 255, 255, 0) 10%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 90%,
            rgba(144, 144, 144, 1)
        );
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        z-index: 0;
        pointer-events: none;
    }

    .gradient-border > * {
        z-index: 1;
    }

    .x-gradient-border {
        border-radius: 50px;
        overflow: hidden;
    }

    .x-gradient-border::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50px;
        padding: 1px;
        background: linear-gradient(
            135deg,
            rgba(205, 205, 205, 0.5),
            rgba(115, 115, 115, 1) 29%,
            rgba(110, 110, 110, 0.28) 50%,
            rgba(255, 255, 255, 0.6) 100%,
            rgba(194, 194, 194, 0.5)
        );
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        z-index: 0;
        pointer-events: none;
    }

    .x-gradient-border > * {
        z-index: 1;
    }

    .submit-gradient-border {
        border-radius: 11px;
        overflow: hidden;
    }

    .submit-gradient-border::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 11px;
        padding: 1px;
        background: linear-gradient(
            135deg,
            rgba(205, 205, 205, 0.5),
            rgba(115, 115, 115, 1) 29%,
            rgba(110, 110, 110, 0.28) 50%,
            rgba(255, 255, 255, 0.6) 100%,
            rgba(194, 194, 194, 0.5)
        );
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        z-index: 0;
        pointer-events: none;
    }

    .submit-gradient-border > * {
        z-index: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0; /* Start hidden */
    animation: fadeIn 2s forwards; /* Adjust duration as needed */
}

.fade-in-logo {
    opacity: 0; /* Start hidden */
    animation: fadeIn 4s forwards; /* Adjust duration as needed */
}

@keyframes fadeFromRight {
    from {
        opacity: 0;
        transform: translateX(40vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-from-right {
    opacity: 0; /* Start hidden */
    animation: fadeFromRight 2s forwards; /* Adjust duration as needed */
}
